#header {
    height: 55px;
    background: #2C3E50;
    color: #ffffff
}

#branding h1 {
    color: #ffffff
}

a:link,
a:visited {
    color: #2C3E50
}

div.breadcrumbs {
    background: #18BC9C;
    color: #2C3E50;
}

div.breadcrumbs a {
    color: #333333;
}

.module h2, .module caption, .inline-group h2 {
    background: #18BC9C;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #2C3E50;
    color: #FFFFFF
}